$white: #FFFFFF;
$black: #111311;
$red: #DD3037;
$grey: #999999;
$green: #21A038;


.contacts {
    padding: 26px 0 42px;
    background-color: $black;
}
.title {
    line-height: 320%;
}
.contacts__cityes {
    display: flex;
    
    margin-bottom: 40px;
}
.contacts__Mos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
    padding: 0 15.5px;
    line-height: 250%;
}
.contacts__Spb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
    padding: 0 15.5px;
    line-height: 250%;
}
.card-contacts{
    display: flex;
    &:not(:last-child) {
        margin-bottom: 17px;
    }
    img{
        margin-right: 10px;
    }
    p{
        font-size: 12px;
        line-height: 250%;
    }
}
.contacts__cards {
    margin-bottom: 42px;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}
.contacts__card {
    flex: 1 0 100%;
    width: 100%;
    white-space: normal;
}
.contacts__phone {
 
}
.contacts__email {
}
.contacts__address {
    text-decoration: underline;
}

.contacts__links {
    display: flex;
    justify-content: center;
}
.contacts__link {
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.map{
    img{
        width: 100%;
        height: 100%;
    }
}