footer{
    padding: 46px 0 35px;
    background-color: #111311;
    text-align: center;
    margin-bottom: 30px;
}
.footer__container {
}
.footer__copy {
    margin-bottom: 30px;
}
.footer__pay {
    text-decoration: underline;
}
.footer__confid {
    text-decoration: underline;
    margin-bottom: 35px;
}
.footer__logo {
}