.products {
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.products__title {
    line-height: 122%;
    margin-bottom: 35px;
}
.products__cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.products__items {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
    margin-bottom: 35px;
    width: 100%;
    padding: 0 150px;
    height: 182px;
}

.products__item {
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: normal;
    img{
        transition: 0.3s;
        height: 148px;
        max-width: 70%;
    }
}
.products__item_active{
    img{
        height: 182px;
        max-width: 100%;
    }
}
.products__control {
    position: absolute;
    top: 50%;
}
.products__prew {
}
.products__next {
}
.products__indicator {
    color: #888988;
    &:not(:last-child) {
        margin-right: 9px;
    }
}
.products__indicators_active{
    color: white;
    transform: skewX(60), scale(2, 1) ;
    margin: 0 7px;
}
